.nav-bar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 60px;
    text-decoration: none;
    background-color: #10898D
    ;

}
.logo {
    width:60px;
    height:60px;
    border-radius: 50%;


}


.nav-items
{

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}