.nav-bar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    text-decoration: none;

}
.logo {
    width: 80px;
    height:80px;


}


.nav-items
{

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}